@model Examen.Models.TitluDenumireViewModel
@{
    ViewBag.Title = "Cauta";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "TitluDenumirePoezii", controllerName: "Poezie", method: (FormMethod.Post)))
{
    @Html.Label("Titlu", "Titlu:")
    <br />
    @Html.TextBoxFor(m => m.Titlu, null, new { placeholder = "Scrie numele poeziei", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Titlu, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Denumire", "Denumire:")
    <br />
    @Html.TextBoxFor(m => m.Denumire, null, new { placeholder = "Scrie denumirea volumului", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Denumire, "", new { @class = "text-danger" })
    <br />
    
    <br />
    <button class="btn btn-primary" type="submit">Cauta</button>
}
