@model Books_CRUD.Models.Book
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.Label("BookId", "Book Id:")
<p>@Model.BookId</p>
@Html.Label("Title", "Title:")
<p>@Model.Title</p>
@Html.Label("Author", "Author:")
<p>@Model.Author</p>
@if (Model.Summary != null)
{
    @Html.Label("Summary", "Summary:")
    <p>@Model.Summary</p>
}
else
{
    <p>The summary does not exist!</p>
}

@using (Html.BeginForm(actionName: "Edit", controllerName: "Book", method: FormMethod.Get, routeValues: new { id = Model.BookId }))
{
    <button class="btn btn-primary col-lg-1" type="submit" style="margin-right:5px">Edit</button>
}

