@model Books_CRUD.Models.Book
@{
    ViewBag.Title = "Update";
}

<h2>@ViewBag.Title</h2>


<br />
@Html.Label("Title", "Title:")
<br />
@Html.EditorFor(b => b.Title, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(b => b.Title, "", new { @class = "text-danger" })
<br />

@Html.Label("Author", "Author:")
<br />
@Html.EditorFor(b => b.Author, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(b => b.Author, "", new { @class = "text-danger" })
<br />

@Html.Label("Summary", "Summary:")
<br />
@Html.TextAreaFor(b => b.Summary, new { @class = "form-control", @rows = "10" })
@Html.ValidationMessageFor(b => b.Summary, "", new { @class = "text-danger" })
<br />

@*@Html.Label("BookType", "BookType:")
    <br />
    @Html.DropDownListFor(b => b.BookTypeId, new SelectList(Model.BookTypeList, "Value", "Text"), "Choose a book type", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BookTypeId, "", new { @class = "text-danger" })*@
<br />
<br />

<button class="btn btn-primary" id="bt-edit" data-id="@Model.BookId">Update</button>

@*
    • Update – in mod asemanator cu Create, doar ca folosind metoda PUT ¸si adaugand la URL
    id-ul obiectului ce va fi modificat.
*@

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#bt-edit").on("click", function () {
                var buton = $(this);
                if (confirm("Are you sure?")) {
                    $.ajax({
                        url: "/api/book/" + buton.attr("data-id"),
                        method: "PUT",
                        data: JSON.stringify({
                            Title: $("#Title").val(),
                            Author: $("#Author").val(),
                            Summary: $("#Summary").val()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            //in caz de succes ne intoarcem in index
                            window.location.href = "/Book/Index";
                        }
                    });
                }
            });
        });
    </script>
}