@model Sport.Models.Sportiv
@{
    ViewBag.Title = "Detalii";
}

<h2>@ViewBag.Title</h2>

@Html.LabelFor(s => s.Nume)
<br />
<p>@Model.Nume</p>
<br />
@Html.LabelFor(s => s.Prenume)
<br />
<p>@Model.Prenume</p>
<br />
@Html.LabelFor(s => s.Tara)
<br />
<p>@Model.Tara</p>
<br />
@Html.LabelFor(s => s.DataNasterii)
<p>@Model.DataNasterii</p>
<br />
<br />
@using (Html.BeginForm(actionName: "Edit", controllerName: "Sportiv", method: FormMethod.Get, routeValues: new { id = Model.IDSportiv }))
{
    <button class="btn btn-primary col-lg-1" style="margin-right:5px" type="submit">Edit</button>
}
<br />
<br />
@using (Html.BeginForm(actionName: "Delete", controllerName: "Sportiv", method: FormMethod.Post, routeValues: new { id = Model.IDSportiv }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-primary col-lg-1" style="margin-right:5px" type="submit">Delete</button>
}

<br />

