@model Sport.Models.Sportiv
@{
    ViewBag.Title = "Editeaza sportiv";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Sportiv", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(s => s.IDSportiv)

    <br />
    @Html.Label("Nume", "Nume:")
    <br />
    @Html.EditorFor(s => s.Nume, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(s => s.Nume, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Prenume", "Prenume:")
    <br />
    @Html.EditorFor(s => s.Prenume, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(s => s.Prenume, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Tara", "Tara:")
    <br />
    @Html.EditorFor(s => s.Tara, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(s => s.Tara, "", new { @class = "text-danger" })
    <br />
    @Html.Label("IDProba", "Proba:")
    <br />
    @Html.DropDownListFor(s => s.IDProba, new SelectList(Model.ListaProbe, "Value", "Text"), "Choose a location", new { @class = "form-control" })
    @Html.ValidationMessageFor(s => s.IDProba, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Data nasterii", "Data nasterii: ")
    <br />
    @Html.TextBoxFor(s => s.DataNasterii, "{0:yyyy-MM-ddTHH:mm:ss}", new
                       {
                           @class = "form-control",
                           @type = "datetime-local"
                       })
    <br />
    @Html.ValidationMessageFor(s => s.DataNasterii, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-primary" type="submit">Update</button>
    <br />
    <br />

}

