
@{
    ViewBag.Title = "Sportivi";
}

<h2>@ViewBag.Title</h2>

@foreach (var sportiv in @ViewBag.Sportivi)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("Nume", "Nume:")
            <br />
            <p>@sportiv.Nume</p>

            @Html.Label("Prenume", "Prenume:")
            <br />
            <p>@sportiv.Prenume</p>
            @using (Html.BeginForm(actionName: "Details", controllerName: "Sportiv",
                    method: FormMethod.Get, routeValues: new { id = sportiv.IDSportiv }))
            {
                <button class=" btn btn-primary">Details</button>
            }
        </div>
    </div>
}

@using (Html.BeginForm(actionName: "New", controllerName: "Sportiv", method: FormMethod.Get))
{
    <button class="btn btn-primary">Adauga sportiv</button>
}



